#piano-keyboard {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

:root {
  --natural-key-width: 48px;
  --natural-key-height: 200px;
}

.key-natural {
  position: relative;
  width: var(--natural-key-width);
  height: var(--natural-key-height);
  border: 1px solid black;
  box-sizing: border-box;
  background: #fffff0; /* ivory color */
}
